<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Year_to_year</title>
</head>
<body>
<h2>Введите годы, между которыми <br> нужно искать фильмы</h2>
<form action="/movie/year/to/year" method="POST">
        <div>
            <input name="year_1">
        </div>
    <br>
        <div>
            <input name="year_2">
        </div>
    <br>
        <div>
            <input type="submit" value="Найти" class="button">
        </div>
    </form>
<br>
<a href="/">Главная</a>
</body>
</html>